In [1]:
import sqlite3 as sql
import pandas as pd
import json

In [2]:
con2 = sql.connect('dua.db')
cur2 = con2.cursor()

In [3]:
cur2.execute('''CREATE TABLE sales (
    Date DATE, 
    Sales FLOAT)''') 
con2.commit()

In [4]:
cur2.execute('''INSERT INTO sales (
    Date, 
    Sales
    ) 
VALUES 
    ("2021-01-01", 100),
    ("2021-01-02", 34),
    ("2021-01-02", 123),
    ("2021-01-02", 134),
    ("2021-01-03", 145),
    ("2021-01-03", 24),
    ("2021-01-04", 541),
    ("2021-01-04", 636),
    ("2021-01-05", 322),
    ("2021-01-06", 242),
    ("2021-01-07", 22),
    ("2021-01-08", 46);''')
con2.commit()

In [5]:
answer2 = cur2.execute('''
    SELECT Date, SUM(Sales) as Total
    FROM sales
    GROUP BY Date
    ORDER BY Total DESC
''')
con2.commit()

row2 = answer2.fetchall()
col2 = answer2.description
result2 = pd.DataFrame(row2, columns = col2)
result2

         Date   Total
          NaN     NaN
          NaN     NaN
          NaN     NaN
          NaN     NaN
          NaN     NaN
          NaN     NaN
0  2021-01-04  1177.0
1  2021-01-05   322.0
2  2021-01-02   291.0
3  2021-01-06   242.0
4  2021-01-03   169.0
5  2021-01-01   100.0
6  2021-01-08    46.0
7  2021-01-07    22.0